{% extends "base.html" %}

{% block body_contents %}
<!--- Comment Box Utils -->
<style>
.comment-box {
    display: none;
}
</style>
<script>
    function openComment(id) {
        $("#"+id).slideToggle('fast')
    }
</script>
<!--- /Comment Box Utils -->

<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%">
    <div class="mdl-card__title"
        style="background:url(https://www.googlecover.com/_asset/_cover/Bokeh-Light_739.jpg) center/cover; height:350px">

        <div class="mdl-card__title-text mdl-card__title-text-shade" style="width:625px">
            <div class="row">
                <div class="col-4">
                    <img style="border-radius:50%; width:170px; background-color:white" 
                        src="{{url_for('static', filename=RemoveStatic( GetProfilePic(student_details['zid']) ))}}"></img>
                </div>
                <div class="col-8">
                    <h2>{{student_details['full_name']}}</h2>
                    <small style="font-size:10"><i class="fa fa-book" aria-hidden="true"></i> {{student_details['program']}}</small>
                    <br><small style="font-size:10"><i class="fa fa-map-marker" aria-hidden="true"></i> {{student_details['home_suburb']}}</small>
                    
                    {% if zid != session['zid'] and isFriend == False %}
                    <form style="width:20px; height:20px" type="submit" method="post" action="{{url_for('add_friend')}}">
                        <input type="hidden" name="friend" value="{{zid}}"/>
                        <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add Friend </button>
                    </form>
                    {% endif %}
                    {% if zid != session['zid'] and isFriend == True %}
                    <form style="width:20px; height:20px" type="submit" method="post" action="{{url_for('delete_friend')}}">
                        <input type="hidden" name="friend" value="{{zid}}"/>
                        <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-minus-circle" aria-hidden="true"></i> Pending - Unfriend</button>
                    </form>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__menu">
    </div>
</div>
<br>

<!-- Nav tabs -->
<div style="padding:30px">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#posts" role="tab">{{student_details['full_name']}}'s Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#about" role="tab">Courses</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="posts" role="tabpanel">
        
        {% if zid == session['zid'] %}
        <div class="mdl-card mdl-shadow--2dp" style="width:100%; padding: 40px; margin-bottom:40px">
            <form action="{{url_for('new_post')}}" method="post">
                <div class="row">
                    <div class="col-1">
                        <img class="mx-auto rounded-circle img-fluid" 
                        src="{{url_for('static', filename=RemoveStatic( GetProfilePic(session['zid']) ))}}" 
                        alt="avatar">
                    </div>
                    <div class="col-11">
                        <div class="form-group">
                            <textarea class="form-control" id="post-box" name="post_content" rows="3" placeholder="What's on your mind?" required></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Publish Post</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="mdl-card mdl-shadow--2dp" style="width:100%; padding: 40px; margin-bottom:40px">

        <div class="row">
            <div class="comments col-md-9" id="comments">
                <!-- post -->
                <div class="comment mb-2 row">
                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <a href="{{url_for('profile', zid=post.content._from)}}">
                            <img class="mx-auto rounded-circle img-fluid" 
                            src="{{url_for('static', filename=RemoveStatic( GetProfilePic(post.content._from) ))}}"
                            
                            alt="avatar"></a>
                    </div>
                    <div class="comment-content col-md-11 col-sm-10">
                        <h6 class="small comment-meta"><a href="{{url_for('profile', zid=post.content._from)}}">{{ getdetails(post.content._from).full_name }}</a> {{ parseTime(post.content.time) }}</h6>
                        <div class="comment-body">
                            {% if post.content.message %}                        
                            <p>
                                {{ ParseMessage(post.content.message)|safe }}
                                <form class="form-inline" method="post" action="{{url_for('delete_comment')}}">
                                    <input type="hidden" name="addr" value="{{post.id}}"/>
                                    <input type="button" class="input-group btn btn-secondary small" style="width:55px"
                                        onclick="openComment('{{CleanID(post.id)}}');" value="Reply"/>
                                    {% if session['zid'] == post.content._from %}
                                    <button style="margin-left:10px" class="btn btn-info small" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    {% endif %}
                                </form>            
                            </p>
                            <!-- Comment Box -->
                            <div class="comment-box" id="{{CleanID(post.id)}}">
                                <form action="{{url_for('new_comment')}}" method="post">
                                    <div class="row">
                                        <input type="hidden" name="parent" value="{{post.id}}">
                                        <div class="col-2">
                                            <img class="mx-auto rounded-circle img-fluid" 
                                            src="{{url_for('static', filename=RemoveStatic( GetProfilePic(session['zid']) ))}}" 
                                            alt="avatar">
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group">
                                                <textarea class="form-control" id="post-box" name="content" rows="3" placeholder="Reply to comment" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-primary" type="submit">Post Reply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /Comment Box -->
                            {% endif %}
                        </div>
                    </div>
                        
                    <!-- comment is indented -->
                    {% for comment in post.comments %}
                    <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                        <div class="row">
                            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <a href="{{url_for('profile', zid=comment.content._from)}}"><img class="mx-auto rounded-circle img-fluid" 
                                    src="{{url_for('static', filename=RemoveStatic( GetProfilePic(comment.content._from) ))}}" 
                                    alt="avatar"></a>
                            </div>
                            <div class="comment-content col-md-11 col-sm-10 col-12">
                                <h6 class="small comment-meta"><a href="{{url_for('profile', zid=comment.content._from)}}">{{ getdetails(comment.content._from).full_name }}</a> {{ parseTime(comment.content.time) }}</h6>
                                <div class="comment-body">
                                    {% if comment.content.message %}
                                    <p>{{ ParseMessage(comment.content.message)|safe  }}
                                        <br>
                                        <form class="form-inline" method="post" action="{{url_for('delete_comment')}}">
                                            <input type="hidden" name="addr" value="{{comment.id}}"/>
                                            <input type="button" class="input-group btn btn-secondary small" style="width:55px"
                                                onclick="openComment('{{CleanID(comment.id)}}');" value="Reply"/>
                                            {% if session['zid'] == comment.content._from %}
                                            <button style="margin-left:10px" class="btn btn-info small" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            {% endif %}
                                        </form>
            
                                    </p>
                                    <!-- Comment Box -->
                                    <div class="comment-box" id="{{CleanID(comment.id)}}">
                                        <form action="{{url_for('new_comment')}}" method="post">
                                            <div class="row">
                                                <input type="hidden" name="parent" value="{{comment.id}}">
                                                <div class="col-2">
                                                    <img class="mx-auto rounded-circle img-fluid" 
                                                    src="{{url_for('static', filename=RemoveStatic( GetProfilePic(session['zid']) ))}}" 
                                                    alt="avatar">                
                                                </div>
                                                <div class="col-9">
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="post-box" name="content" rows="3" placeholder="Reply to comment" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <button class="btn btn-primary" type="submit">Post Reply</button>                            
                                                </div>
                                            </div>
                                        </form>
                                    </div>                
                                    <!-- /Comment Box -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
        
                        <!-- reply is indented -->
                        {% for reply in comment.replies %}
                        <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                            <div class="row">
                                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                    <a href="{{url_for('profile', zid=reply.content._from)}}"><img class="mx-auto rounded-circle img-fluid"
                                        src="{{url_for('static', filename=RemoveStatic( GetProfilePic(reply.content._from) ))}}" 
                                        alt="avatar"></a>
                                </div>
                                <div class="comment-content col-md-11 col-sm-10 col-12">
                                    <h6 class="small comment-meta"><a href="{{url_for('profile', zid=reply.content._from)}}">{{ getdetails(reply.content._from).full_name }}</a> {{ parseTime(reply.content.time) }}</h6>
                                    <div class="comment-body">
                                        {% if post.content.message %}                    
                                        <p>{{ ParseMessage(reply.content.message)|safe }}
                                            <br>
                                            <form class="form-inline" method="post" action="{{url_for('delete_comment')}}">
                                                <input type="hidden" name="addr" value="{{reply.id}}"/>
                                                {% if session['zid'] == reply.content._from %}
                                                <button style="margin-left:10px" class="btn btn-info small" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                {% endif %}
                                            </form> 
                                        </p>
                                        {% endif %}                                
                                    </div>
                                </div>
                            </div>
                        </div>                                
                        {% endfor %}                            
                        <!-- /reply is indented -->
                    </div>
                    {% endfor %}                            
                    <!-- /comment is indented -->
        
                </div>
        
            </div>            
        </div>
        </div>
        {% endfor %}
        
            

        </div>

        <div class="tab-pane" id="about" role="tabpanel">
            <br><b>{{student_details['full_name']}}'s Courses</b>
                {% for course in courses %}
                    <li>{{ course }}</li>
                {% endfor %}
        </div>


        <div class="tab-pane" id="friends" role="tabpanel">

            <div class="mdl-grid">                    
                {% for friend in friends %}
                <div class="mdl-cell mdl-cell--4-col  mdl-card mdl-shadow--2dp" style="width:200px; height:270px;">

                    {% if zid == session['zid'] %}
                    <div class="card-menu" style="margin-bottom:15px">
                            <form style="width:20px; height:20px" type="submit" method="post" action="{{url_for('delete_friend')}}">
                                <input type="hidden" name="friend" value="{{friend}}"/>
                                <button type="submit" class="btn btn-info btn-sm"> Unfriend</button>
                            </form>
                    </div>
                    {% endif %}

                    <a href="{{url_for('profile', zid=friend)}}">
                    <img class="card-img-top" style="width:100%" src="{{url_for('static', filename=RemoveStatic( GetProfilePic(friend) ))}}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{ getdetails(friend)['full_name'] }}</h4>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        
        </div>
            

    </div>

</div>
        

{% endblock %}
